{% extends 'base.html.twig' %}

{% block title %}Hello RepositoriesController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>
    <table>
        <thead>
            <tr>
                <th>Repository name</th>
                <th>Organization</th>
                <th>Trust score</th>
                <th>Created at</th<
            </tr>
        </thead>
        {% for repository in repositories %}
        <tr>
            <td>{{ repository.name }}</td>
            <td>{{ repository.organization.name }}</td>
            <td>{{ repository.trustScore }}</td>
            <td>{{ repository.creationDate|date("d-m-Y") }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
